body {
    font-family: sans-serif;
    background: url(images/background.png);
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.title {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    padding-left: 3px;
    width: 450px;
    margin-left: 12px;
    font-size: 24px;
    line-height: 26px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.about {
    margin-top: -20px;
    margin-left: 20px;
}

a {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    color: white;
    text-decoration: none;
    padding: 6px;
    padding-left: 10px;
    border-left: 2px solid black;
    margin-left: 20px;
}